# This rule is not used by the project sonar-operator itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants permissions to create, update, and delete resources within the edp.epam.com.
# This role is intended for users who need to manage these resources
# but should not control RBAC or manage permissions for others.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: sonar-operator
    app.kubernetes.io/managed-by: kustomize
  name: sonarpermissiontemplate-editor-role
rules:
- apiGroups:
  - edp.epam.com
  resources:
  - sonarpermissiontemplates
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - edp.epam.com
  resources:
  - sonarpermissiontemplates/status
  verbs:
  - get
