global:
  edpName: ""
  platform: "openshift"
  dnsWildCard: "example.com"
  openshift:
    deploymentType: "deploymentConfigs"

name: sonar-operator
annotations: {}
nodeSelector: {}
tolerations: []
affinity: {}
image:
  name: epamedp/sonar-operator
  # if not defined then .Chart.AppVersion is used
  version:
imagePullPolicy: "IfNotPresent"

resources:
  limits:
    memory: 192Mi
  requests:
    cpu: 50m
    memory: 64Mi

sonar:
  initContainers:
    # image: busybox:1.32
    # We allow the init containers to have a separate security context declaration because
    # the initContainer may not require the same as SonarQube.
    # securityContext: {}
    # We allow the init containers to have a separate resources declaration because
    # the initContainer does not take as much resources.
    resources: {}
  deploy: true
  name: "sonar"
  image: "sonarqube"
  version: "8.9.8-community"
  imagePullPolicy: "IfNotPresent"
  initImage: "busybox:1.35.0"
  basePath: ""
  imagePullSecrets:
  storage:
    data:
      class: gp2
      size: 1Gi
    database:
      class: gp2
      size: 1Gi
  annotations: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}
  ingress:
    annotations: {}
    # pathType is only for k8s >= 1.1=
    pathType: Prefix
    # For Kubernetes >= 1.18 you should specify the ingress-controller via the field ingressClassName
    # See https://kubernetes.io/blog/2020/04/02/improvements-to-the-ingress-api-in-kubernetes-1.18/#specifying-the-class-of-an-ingress
    # ingressClassName: nginx
    tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - chart-example.local
  sonarqubeFolder: /opt/sonarqube
  # List of plugins to install.
  # For example:
  plugins:
    install:
      - "https://github.com/vaulttec/sonar-auth-oidc/releases/download/v2.0.0/sonar-auth-oidc-plugin-2.0.0.jar"
      - "https://github.com/checkstyle/sonar-checkstyle/releases/download/9.0.1/checkstyle-sonar-plugin-9.0.1.jar"
      - "https://github.com/spotbugs/sonar-findbugs/releases/download/4.0.4/sonar-findbugs-plugin-4.0.4.jar"
      - "https://github.com/jensgerdes/sonar-pmd/releases/download/3.3.1/sonar-pmd-plugin-3.3.1.jar"
      - "https://github.com/sbaudoin/sonar-ansible/releases/download/v2.4.0/sonar-ansible-plugin-2.4.0.jar"
      - "https://github.com/sbaudoin/sonar-yaml/releases/download/v1.6.0/sonar-yaml-plugin-1.6.0.jar"
      - "https://github.com/Inform-Software/sonar-groovy/releases/download/1.8/sonar-groovy-plugin-1.8.jar"

  resources:
    limits:
      memory: 3Gi
    requests:
      cpu: 100m
      memory: 1.5Gi

  db:
    image: "postgres:9.6"
    imagePullPolicy: "IfNotPresent"
    resources:
      limits:
        memory: 512Mi
      requests:
        cpu: 50m
        memory: 64Mi
    annotations: {}
    nodeSelector: {}
    tolerations: []
    affinity: {}
